<div class="container mt-4">
  <div class="card-img" height="200" style="background-image: url('<%= @flat.image_url %>')"></div>
  <div class="col-6 m-auto">
    <h1><%= @flat.name %></h1>
    <h3><%= @flat.address %></h3>
    <h3><%= @flat.description %></h3>
    <p><%= @flat.price_per_night %></p>
    <p><%= @flat.number_of_guests %></p>
    <%= link_to 'Edit flat', edit_flat_path(@flat) %>
    <%= link_to 'Delete flat', flat_path(@flat), method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
</div>