<div class="container mt-4">
  <div class="col-6 m-auto">
    <h1><%= @flat.name %></h1>
    <h3><%= @flat.address %></h3>
    <h3><%= @flat.description %></h3>
    <p><%= @flat.price_per_night %></p>
    <p><%= @flat.number_of_guests %></p>
  </div>
</div>